/*==================police, taille de block et temps de transition pour tout le monde */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5s;
}


/*border violet de tous les inputs*/

.borderproperties {
    border-style: solid;
    border-color: #8C6896;
    border-width: 2px;
}


/*les différents backgrounds utilisés*/

.whitesmokeBG {
    background-color: whitesmoke;
}

.violetBG {
    background-color: #8C6896;
}

.bisqueBG {
    background-color: bisque;
}

.pinkBG {
    background-color: #FFF1F1;
}


/*comportement du curseur*/

.pointer {
    cursor: pointer;
}

.text {
    cursor: text;
}

.flex {
    display: flex;
}


/*taille et couleur d'ombre*/

.ombre {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*à utiliser pour centrer après avoir mis un width*/

.Center {
    margin: auto;
}


/*enlever la marge par défaut du body*/

.bodymargin {
    margin: 0;
}


/*les inputs*/

.Ipt {
    height: 1.5rem;
    margin-top: 1rem;
    border-radius: 10px;
}


/*les filtres*/

.filters {
    position: fixed;
    z-index: 2;
    top: 20rem;
    left: 4rem;
    width: 10rem;
    height: max-content;
    background-color: #9DADC9;
    padding-top: 2%;
    text-align: center;
    border-radius: 10px;
}


/*la section pour les colonnes de bulle*/

.smallformsection {
    position: relative;
    margin-top: 1rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
}


/*forme générale pour toutes les bulles*/

.Form {
    background: linear-gradient(0deg, rgba(227, 154, 154, 0.2), rgba(227, 154, 154, 0.2)), #FFF1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1%;
    width: 20rem;
}

.bigForm {
    height: 25rem;
    width: 40rem;
}
