/**
 *  Css pour le responsive :
 *  Liens ver le site 
 *  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

.responsive{ 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.display-flex{
    display: flex;
}

/* ==================================================================== Properties for the Parent
(flex container) */

/* ============== Alignement des boites */

.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
} 

.flex-column-reverse{
    flex-direction: column-reverse;
}

/* ============== Retourr à la ligne des div  */
.felx-warp{
    flex-wrap: wrap;
}
.felx-warp-reverse{
    flex-wrap: wrap-reverse;
}

/* Alignement des element dans le div */

.jc-start{
    justify-content: start;
}
.js-end{
    justify-content: end;
}

.js-center{
    justify-content: center;
}
.js-space-between{
    justify-content: space-between;
}
.js-space-around{
    justify-content: space-around;
}
.js-space-evenly{
    justify-content: space-evenly;
}

/* ============== Alignement des items VERTICAL */
.al-it-start{
    align-items: flex-start;
}
.al-it-end{
    align-items: flex-end;
}
.al-it-center{
    align-items: center;
}
.al-it-stretch{
    align-items: stretch;
}
.al-it-baseline{
    align-items: baseline;
}

/* ============== Alignement des items dans la boite */
.al-ct-start{
    align-content: flex-start;
}
.al-ct-end{
    align-content: flex-end;
}
.al-ct-center{
    align-content: center;
}
.al-ct-stretch{
    align-content: stretch;
}
.al-ct-space-between{
    align-content: space-between;
}
.al-ct-space-arround{
    align-content: space-around;
}

/* ==================================================================== Properties for the Children (flex items) */


/* ================================== Alignement en fonctions de la largeur de la page */

@media (min-width: 576px) {
  .responsive {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .responsive {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .responsive {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .responsive {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .responsive {
    max-width: 1320px;
  }
}